.additional {
  @include block-padding;
  @include highlight-block(darkblue);
}

.additional__title {
  @include reset-margin-padding;

  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.additional__list {
  @include reset-list;
}

.additional__item-title {
  @include reset-margin-padding;

  color: $additional-item-title;
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: $font-size-m;
  text-transform: uppercase;
}

.additional__item-spec {
  @include reset-margin-padding;

  color: $grey-tundora;
  font-family: $font-additional;
  font-weight: $font-regular;
  font-size: $font-size-s;
}

.additional__promo {
  @include block-padding;
  @include highlight-block(yellowgreen);

  color: $additional__promo-text;
  font-family: $font-additional;
  font-size: $font-size-m;
  // TODO: For testing. Remove later
  background-color: yellowgreen;
}
