.ambassador {
  @include block-padding;

  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $ambassador-background;

  // TODO: For testing. Remove later
  outline: 2px solid darkblue;
  outline-offset: -2px;
}

.ambassador__top {
  grid-column: 1/3;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.ambassador__results {
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.ambassador__result {
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.ambassador__expenses {
  grid-column: 1/3;

  font-family: $font-main;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.ambassador__measure {
  font-family: $font-additional;
  font-size: $font-size-xs;
  line-height: 12px;
  text-transform: lowercase;
}

.ambassador__range {
  grid-column: 1/3;

  @media (min-width: $desktop-width) {
    grid-row: 1/4;
    grid-column: 2/3;
  }
}
