.ambassador {
  background-color: $ambassador-background;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($catalog-background-gr1 620px, $catalog-background-gr2 620px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($catalog-background-gr1 195px, $catalog-background-gr2 195px);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ambassador__wrapper {
  @include block-padding;

  display: grid;
  grid-template-areas:
    "header"
    "results"
    "expenses";

  @media (min-width: $mobile-width) {
    padding-top: 29px;
    row-gap: 25px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    grid-template-areas:
      "header header"
      "results expenses";
    row-gap: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-right: 140px;
    row-gap: 0;
    grid-template-areas:
      "header"
      "results"
      "expenses";
  }
}

.ambassador__top {
  grid-area: header;

  display: grid;

  @media (min-width: $mobile-width) {
    row-gap: 35px;
  }

  @media (min-width: $tablet-width) {
    row-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 116px;
    margin-bottom: 36px;
  }
}

.ambassador__description {
  @include reset-margin-padding;

  color: $spec-dark-gray;

  @media (min-width: $tablet-width) {
    font-size: $font-size-m;
    line-height: 24px;
  }
}

.ambassador__results {
  @include reset-margin-padding;

  grid-area: results;
  display: flex;

  @media (min-width: $mobile-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $tablet-width) {
    @include reset-margin-padding;
  }
}

.ambassador__border-wrapper {
  @include reset-margin-padding;
  width: 124px;
  height: 56px;
  margin-right: 32px;
  border: 1px solid $ambassador-result-border;
  border-radius: 3px;
  padding: 14px 18px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    margin-right: 42px;
    padding: 14px 10px;
  }
}

.ambassador__result-wrapper {
  @include reset-margin-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ambassador__result {
  @include reset-margin-padding;
  margin-bottom: 8px;
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.ambassador__measure {
  @include reset-margin-padding;

  background-color: $ambassador-measure-mobile;
  color: $spec-dark-gray;
  font-family: $font-additional;
  font-size: $font-size-xs;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    background-color: $ambassador-measure-tablet;
    padding: 0 6px;
    font-size: $font-size-s;
    line-height: $font-size-s;
  }

  @media (min-width: $desktop-width) {
    background-color: $ambassador-measure-desktop;
  }
}

.ambassador__expenses {
  @include reset-margin-padding;

  grid-area: expenses;
  font-family: $font-main;
  line-height: $font-size-xl;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: 11px;
    font-size: $font-size-xl;
    line-height: $font-size-xl;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 0;
    flex-direction: row;
  }
}

.ambassador__expenses-key {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 64px;
  }
}
