.button {
  @include default-link;

  padding: 7px 44px;
  border: none;
  background-color: $button-background;
  color: $button-color;
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: $font-size-m;
  line-height: 20px;
  text-transform: uppercase;
}
