.catalog {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 109px;
    margin-bottom: 53px;
  }
}

.catalog__top {
  @media (min-width: $mobile-width) {
    padding: 27px 20px 42px;
  }

  @media (min-width: $tablet-width) {
    padding: 33px 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 110px 71px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 59px;
    grid-row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 49px;
  }
}

.catalog__item {
  display: grid;
  grid-template-areas:
    "link link"
    "button button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  row-gap: 12px;
  height: 209px;
  padding: 20px 20px 25px;
  border-bottom: 1px solid $catalog-item-border;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($catalog-background-gr1 119px, $catalog-background-gr2 119px);
    border: none;
    row-gap: 0;
    width: 324px;
    height: 550px;
    padding: 0 37px 40px 37px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "link"
      "info"
      "button";
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($catalog-background-gr1 94px, $catalog-background-gr2 94px);
    padding-bottom: 39px;
    width: 245px;
    height: 525px;
  }

  &--more {
    grid-template-areas:
      "more-info"
      "button";
    grid-template-columns: 1fr;
    row-gap: 15px;

    @media (min-width: $tablet-width) {
      @include reset-margin-padding;
      @include reset-background;

      align-items: center;
      grid-template-rows: min-content;
      border: 2px solid $catalog-more-border;
      align-self: end;
      height: 430px;
    }
  }

  &:first-child {
    @media (max-width: $tablet-width - 1) {
      border-top: 1px solid $catalog-item-border;
    }
  }
}

.catalog__img-wrapper {
  @media (min-width: $mobile-width) {
    margin: auto auto 0;
  }

  &--small-icon {
    margin: auto auto 6px;
  }
}

.catalog__item-image {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.catalog__item-title {
  font-size: $font-size-m;
  line-height: $font-size-xl;

  @media (max-width: $tablet-width - 1px) {
    width: 60%;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-xl;
    line-height: 24px;
    text-align: center;
  }
}

.catalog__link-wrapper {
  @include default-link;

  grid-area: link;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: $font-regular;

  @media (min-width: $tablet-width) {
    align-content: space-between;
    grid-template-columns: 1fr;
    padding: 47px 44px 0;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    @include reset-margin-padding;

    padding-top: 14px;
    margin-bottom: 13px;
  }

  &--small-icon {
    @media (min-width: $tablet-width) {
      padding-top: 74px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 42px;
    }
  }
}

.catalog__properties {
  @include reset-margin-padding;

  border-collapse: collapse;
  grid-area: info;
  grid-row: 1/2;
  grid-column: 2/3;

  @media (max-width: $tablet-width - 1px) {
    margin-top: auto;
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 31px;
  }
}

.catalog__weight {
  @media (min-width: $tablet-width) {
    padding-left: 8px;
  }
}

.catalog__property {
  @media (min-width: $tablet-width) {
    border: 1px none $catalog-border;
    border-bottom-style: solid;
  }
}

.catalog__property-key {
  @include reset-margin-padding;
  @include key-value-font;

  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    font-size: $font-size-m;
    line-height: $font-size-m;
  }
}

.catalog__property-value {
  @include reset-margin-padding;
  @include key-value-font;

  text-align: right;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    font-size: $font-size-m;
    line-height: $font-size-m;
  }
}

.catalog__more-wrapper {
  grid-area: more-info;
  display: grid;
  padding-top: 58px;
  position: relative;

  @media (min-width: $mobile-width) {
    padding-top: 56px;
    row-gap: 0;
  }

  @media (min-width: $tablet-width) {
    row-gap: 24px;
    grid-template-rows: repeat(2, min-content);
    padding: 161px 50px 33px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 24px;
    grid-template-rows: repeat(2, min-content);
    padding: 158px 30px 33px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $catalog-more-plus;

    @media (min-width: $mobile-width) {
      top: 17px;
      left: 124px;
      width: 30px;
    }

    @media (min-width: $tablet-width) {
      display: block;
      top: 82px;
      left: 131px;
      width: 60px;
    }

    @media (min-width: $desktop-width) {
      top: 79px;
      left: 90px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}

.catalog__more-title {
  @include reset-margin-padding;

  color: $catalog-more-title;
  font-family: $font-main;
  font-size: $font-size-m;
  line-height: $font-size-xl;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size-xl;
    line-height: 22px;
  }
}

.catalog__more-description {
  @include reset-margin-padding;

  color: $catalog-more-description;
  font-family: $font-additional;
  font-size: $font-size-xs;
  line-height: $font-size-m;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size-m;
    line-height: $font-size-l;
  }
}

.catalog__order {
  grid-area: button;
}

.catalog__index {
  background-color: $catalog-more-button;
  color: $catalog-more-button-text;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 10px 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 10px 40px;
  }

  &:hover {
    background-color: $catalog-more-hover;
  }

  &:active {
    color: $black03;
  }
}
