.contact {
  .contact__attention {
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .contact__address {
    font-family: "Arial", "Oswald Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
  }

  .contact__map {
    border: none;
  }
}
