.features {
  @include block-padding;

  padding-top: 30px;
}

.features__title {
  margin-bottom: 42px;
}

.features__list {
  @include reset-list;
  @include reset-margin-padding;

  display: grid;
  grid-row-gap: 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);

    grid-row-gap: 37px;
    grid-column-gap: 153px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);

    grid-row-gap: 37px;
    grid-column-gap: 94px;
  }
}

.features__item {
  display: flex;
}

.features__cover {
  width: 60px;
  height: 60px;
  background-color: $features-cover;
  margin-right: 20px;
}

.features__description {
  @include reset-margin-padding;
  position: relative;

  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $green-apple;
  }
}
