.fieldset__inner {
  @include reset-margin-padding;

  position: relative;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 $fieldset-padding-tablet;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 40px 30px 40px;
  }

  &--cat-info {
    grid-area: cat-info;
  }

  &--program {
    grid-area: program;
  }

  &--contact {
    grid-area: contact;
  }

  &--comment {
    grid-area: comment;
  }

  &--additional {
    grid-area: additional;
  }
}
