.fieldset__inner {
  @include reset-margin-padding;

  position: relative;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 40px 30px 40px;
  }

  &--cat-info {
    grid-area: cat-info;
  }

  &--program {
    grid-area: program;
  }

  &--contact {
    grid-area: contact;
  }

  &--comment {
    grid-area: comment;
  }

  &--additional {
    grid-area: additional;
  }
}

.fieldset__top {
  @include block-padding;

  display: inline-block;
  background-color: $fieldset-background;

  @media (min-width: $mobile-width) {
    width: min-content;
    margin-bottom: 34px;
  }

  @media (min-width: $tablet-width) {
    width: max-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 69px;
    margin-bottom: 53px;
  }
}
