.footer {
  .footer__wrapper {
    background-color: $grey-footer;
  }

  .footer__copyright {
    font-family: "Arial", "Oswald Regular", sans-serif;
    font-size: 16px;
    line-height: 18.4px;
  }
}
