.footer__bottom-wrapper {
  @include block-padding;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $footer-background;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 53px 31px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 110px 53px;
  }
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include reset-margin-padding;

    margin-right: 20px;
  }
}

.footer__copyright {
  @include reset-margin-padding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-additional;
  font-size: $font-size-m;

  @media (min-width: $mobile-width) {
    padding: 21px 0 18px;
  }

  @media (min-width: $tablet-width) {
    @include reset-margin-padding;
  }
}

.footer__copyright-name {
  margin-right: 23px;
}
