.footer__bottom-wrapper {
  @include block-padding;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $footer-background;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 53px 31px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 110px 53px;
  }
}

.footer__logo {
  margin: 39px auto 28px;
  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include reset-margin-padding;

    margin-right: 20px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright {
  @include reset-margin-padding;

  display: flex;
  color: $black;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  font-family: $font-additional;
  font-size: $font-size-m;

  @media (min-width: $mobile-width) {
    padding: 21px 0 18px;
  }

  @media (min-width: $tablet-width) {
    @include reset-margin-padding;
  }
}

.footer__copyright:active {
  opacity: 0.3;
}

.footer__copyright-name {
  margin-right: 23px;
}

.footer__copyright:hover .footer__copyright-logo {
  fill: #68b738;
}

.footer__copyright:active .footer__copyright-logo {
  fill: #68b738;
}
