.form {
  font-family: $font-main;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "cat-info program"
      "contact contact"
      "comment comment"
      "additional additional"
      "submit submit";
  }
}

.form__top {
  display: grid;

  @media (min-width: $mobile-width) {
    row-gap: 37px;
    padding: 28px 20px 29px;
  }

  @media (min-width: $tablet-width) {
    row-gap: 54px;
    padding: 33px 70px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 56px;
    padding: 44px 110px 56px;
  }
}

.form__legend {
  @include reset-margin-padding;

  position: relative;

  @media (min-width: $mobile-width) {
    padding-left: 20px;
    padding-right: 20px;
    width: min-content;
    font-size: 24px;
    line-height: 26px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    width: max-content;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100vw - 100%);
    right: 100%;
    background-color: $green-apple;

    @media (min-width: $mobile-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: block;
      top: 26px;
    }

    @media (min-width: $desktop-width) {
      right: calc(100% - 30px);
      width: calc(100vw - 100% + 30px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 100%;
    height: 2px;
    width: calc(100vw - 100%);
    background-color: $green-apple;

    @media (min-width: $mobile-width) {
      top: 17px;
    }

    @media (min-width: $tablet-width) {
      top: 26px;
      width: calc(100vw - 100% - 30px);
    }

    @media (min-width: $desktop-width) {
      top: 26px;
      left: calc(100% - 30px);
      width: calc(100vw - 100% - 10px);
    }
  }
}

.form__label {
  @include form-text;

  @media (min-width: $mobile-width) {
    margin-right: 11px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }

  &--radio {
    color: $radio-color;

    .form__radio:checked + &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 9px;
      width: 13px;
      height: 13px;
      background-color: $form-radio-toggle;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        top: 11px;
        left: 12px;
        width: 17px;
        height: 18px;
      }
    }
  }

  &--checkbox {
    .form__checkbox:checked + &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 2px;
      width: 30px;
      height: 30px;
      background-image: url("../img/icons/checkbox.svg");

      @media (min-width: $tablet-width) {
        top: 7px;
        left: 7px;
      }
    }
  }

  .form__interactive-wrapper &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $form-interactive-border;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  .form__interactive-wrapper &--radio::before {
    border-radius: 50%;
  }

  .form__interactive-wrapper &:hover::before {
    border: 1px solid $grey-silver-animation;
  }
}

.form__input-wrapper {
  @include reset-margin-padding;

  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  color: $input-color;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  &--email::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    width: 20px;
    height: 15px;
    background-image: url("../img/icons/email.svg");

    @media (min-width: $desktop-width) {
      top: 19px;
      right: 22px;
    }
  }

  &--phone::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 13px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/phone.svg");
  }
}

.form__input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }

  &::placeholder {
    @include form-text;
  }
}

.form__radio:focus + .form__label,
.form__checkbox:focus + .form__label {
  outline: 1px solid $green-apple;
  outline-offset: 10px;
}

.form__textarea::placeholder {
  @include form-text;
}

.form__additional-wrapper {
  @include block-padding;

  @media (min-width: $mobile-width) {
    padding-top: 33px;
  }

  @media (min-width: $tablet-width) {
    padding: 57px 40px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 71px 12px;
  }
}

.form__additional-list {
  @include reset-list;
  @include reset-margin-padding;
  @include form-text;

  display: grid;

  @media (min-width: $mobile-width) {
    row-gap: 13px;
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 59px;
    row-gap: 27px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 77px;
    margin-bottom: 0;
  }
}

.form__attention {
  @include reset-margin-padding;

  font-family: $font-additional;

  @media (min-width: $tablet-width) {
    font-size: $font-size-m;
    line-height: $font-size-m;
  }
}

.form__cat-info {
  @include block-padding;

  display: grid;

  @media (min-width: $mobile-width) {
    padding-top: 9px;
    padding-bottom: 9px;
    row-gap: 14px;
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    row-gap: 19px;
    padding: 34px 41px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    @include reset-margin-padding;

    padding-bottom: 40px;
    padding-left: 72px;
    margin-bottom: 0;
  }
}

.form__programs-wrapper {
  @media (min-width: $mobile-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 41px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    @include reset-margin-padding;

    padding-right: 71px;
  }
}

.form__programs-list {
  @include reset-list;
  @include reset-margin-padding;

  display: grid;

  @media (min-width: $mobile-width) {
    padding: 22px 20px 17px;
    row-gap: 13px;
    border: 1px solid $footer-hr;
  }

  @media (min-width: $tablet-width) {
    padding: 23px 28px 21px;
    row-gap: 8px;
  }
}

.form__interactive-wrapper {
  position: relative;
  height: 30px;
  padding-top: 6px;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    height: 45px;
    padding-left: 60px;
  }
}

.form__contacts {
  @include block-padding;

  display: grid;

  @media (min-width: $mobile-width) {
    padding-top: 34px;
    row-gap: 13px;
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    row-gap: 19px;
    padding: 76px 40px 66px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 73px;
    padding: 66px 73px 27px;
  }
}

.form__comment {
  display: grid;

  @media (min-width: $tablet-width) {
    row-gap: 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 71px 35px;
    margin-bottom: 0;
  }
}

.form__comment-wrapper {
  @include block-padding;

  @media (min-width: $mobile-width) {
    padding-top: 37px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 75px 40px 62px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include reset-margin-padding;
  }
}

.form__textarea {
  width: 100%;

  @media (min-width: $mobile-width) {
    padding: 8px 13px;
    height: 150px;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 18px;
    height: 174px;
  }
}

.form__bottom {
  grid-area: submit;
  text-align: center;

  @media (min-width: $mobile-width) {
    padding: 0 20px;
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 71px 41px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 110px 38px;
    margin-bottom: 44px;
  }
}

.form__submit {
  width: 100%;
  padding: 10px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    @include reset-margin-padding;

    font-size: $font-size-xl;
    margin-right: 62px;
    padding: 16px;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 82px;
  }
}
