.header {
  @include block-padding;
  @include highlight-block(grey);

  padding-top: 11px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__top {
  display: flex;
  position: relative;
}

.header__toggle {
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav-wrapper {
  display: none;
}

.header--no-js .header__nav-wrapper {
  display: block;
}

.header--opened .header__nav-wrapper {
  display: block;
}
