.header {
  @include block-padding;
  @include highlight-block(grey);

  padding-top: 11px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__top {
  display: flex;
}

.header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav-wrapper {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
