.hero {
  @include block-padding;

  background-image:
    linear-gradient($hero-background-gr1-mobile 302px, $hero-background-gr2-mobile 302px),
    url("../img/index/mobile/hero@1x.jpg");
  background-size: 100%;
  display: grid;
  padding-top: 27px;
  padding-bottom: 22px;
  color: $hero-color;
  font-family: $font-main;
  font-weight: $font-regular;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient($hero-background-gr1-mobile 302px, $hero-background-gr2-mobile 302px),
      url("../img/index/mobile/hero@2x.jpg");
  }

  @media (min-width: $mobile-width) {
    grid-template-areas:
      "header"
      "img"
      "button";
  }

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 0;
    background: none;
    color: $hero-color-tablet;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 51px;
    grid-template-columns: min-content 1fr;
  }
}

.hero__top {
  grid-area: header;
  display: grid;

  @media (min-width: $mobile-width) {
    row-gap: 23px;
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    row-gap: 36px;
    padding: 0 87px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    @include reset-margin-padding;

    padding: 81px 0 44px 81px;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-rows: min-content;
  }
}

.hero__img-wrapper {
  grid-area: img;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.hero__promo-img {
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 709px;
    height: 606px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -47px;
    width: 552px;
    height: 499px;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.hero__title {
  @media (min-width: $mobile-width) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__description {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size-xl;
    text-align: left;
    margin-bottom: 0;
  }
}

.hero__button {
  grid-area: button;

  font-size: $font-size-s;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding: 17px 27px;
    font-size: $font-size-xl;
    line-height: 20px;
    margin: 29px auto auto 82px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    @include reset-margin-padding;

    padding: 17px 0;
    margin: auto 171px 134px 80px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
