.hero {
  @include block-padding;
  background:
    linear-gradient($hero-background-gr1-mobile 302px, $hero-background-gr2-mobile 302px),
    url("../../img/hero-mobile.png") no-repeat top;
  background-size: 100%;
  display: grid;
  padding-top: 28px;
  padding-bottom: 24px;
  color: $hero-color;
  font-family: $font-main;
  font-weight: $font-regular;

  @media (min-width: $tablet-width) {
    background: none;
    padding-top: 32px;
    color: $hero-color-tablet;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    grid-template-columns: 1fr 2fr;
  }
}

.hero__top {
  @media (min-width: $tablet-width) {
    margin: 0 87px 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 95px 46px 0 80px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.hero__overlay {
  margin: 0 auto 4px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 709px;
    height: 609px;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    margin: 14px 0 0 17px;
    width: 552px;
    height: 499px;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.hero__title {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 42px;
  }
}

.hero__description {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size-xl;
    text-align: left;
    margin-bottom: 0;
  }
}

.hero__button {
  font-size: $font-size-s;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 17px 27px;
    font-size: $font-size-xl;
    line-height: 20px;
    margin: 29px auto auto 82px;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: auto;
    margin-left: 80px;
    margin-bottom: 132px;
  }
}
