.main {
  @include block-padding;

  outline: 2px solid yellowgreen;
  outline-offset: -2px;
}

.main__title {
  @include reset-margin-padding;

  margin-bottom: 25px;
  color: inherit;
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 36px;
  line-height: 36px;
}

.main__description {
  @include reset-margin-padding;

  margin-bottom: 29px;
  font-family: $font-main;
  text-transform: uppercase;
}
