.main__title {
  @include reset-margin-padding;

  margin-bottom: 23px;
  color: inherit;
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 36px;
  line-height: 36px;
}

.main__description {
  @include reset-margin-padding;

  margin-bottom: 27px;
  font-family: $font-main;
  text-transform: uppercase;
}
