.main {
  font-family: "Oswald Regular", "Arial", sans-serif;

  .main__title {
    font-size: 36px;
    line-height: 36px;
  }

  .main__description {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
