.nav__routes {
  @include reset-list;
  @include reset-margin-padding;

  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.nav__routes-item {
  padding: 21px 0 20px;
  text-align: center;

  @media (min-width: $mobile-width) {
    border-top: 1px solid $nav-border;
    border-right: none;
    border-left: none;
  }

  @media (min-width: $tablet-width) {
    @include reset-margin-padding;

    border: none;
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-right: 33px;
    }
  }

  &:last-child {
    @media (max-width: $tablet-width - 1) {
      border-bottom: 2px solid $nav-border;
    }
  }

  &--active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $nav-active-tablet;
    }
  }

  .page__body--index &--active {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $nav-active-desktop;
    }
  }
}

.nav__routes-link {
  @include default-link;

  color: inherit;
  display: inline-block;
  font-family: $font-main;
  font-weight: $font-bold;
  font-size: $font-size-xl;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    font-size: $font-size-l;
    line-height: 22px;
    letter-spacing: -0.4px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0;
    font-size: $font-size-xl;
    line-height: 30px;
  }

  &[href]:not(&--active):hover {
    color: $black06;
  }

  &[href]:not(&--active):active {
    color: $black03;
  }

  .page__body--index & {
    @media (min-width: $desktop-width) {
      color: $white;
    }
  }

  .page__body--index &:not(&--active):hover {
    color: $white06;
  }

  .page__body--index &:not(&--active):active {
    color: $white03;
  }
}
