.programs {
  @include block-padding;
}

.programs__list {
  @include reset-list;
  @include reset-margin-padding;

  display: grid;
  grid-gap: 23px;

  @media (min-width: $tablet-width) {
    grid-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  background-color: $program-background;
  padding: 0 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.programs__item-title {
  @include reset-margin-padding;

  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 71px;
  margin-bottom: 19px;
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green-apple;
  }
}

.programs__item-link {
  @include default-link;

  font-family: $font-main;
  font-size: $font-size-m;
}

.programs__item-description {
  @include reset-margin-padding;
  position: relative;

  padding-bottom: 24px;
  margin-bottom: 17px;

  &::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $programs-description-line;
  }
}
