.range {
  .range__button {
    background-color: inherit;
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
  }
}
