.range {
  @media (min-width: $mobile-width) {
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 69px;
  }
}

.range__img-container {
  position: relative;

  @media (min-width: $mobile-width) {
    width: 311px;
    height: 300px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 600px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    height: 500px;
    margin-bottom: 57px;
  }
}

.range__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;

  @media (min-width: $mobile-width) {
    width: 100%;
    background-size: 100%;
    background-position: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    background-size: $tablet-width 100%;
    background-position: 0;
  }

  &--before {
    background-image: url("../img/index/mobile/ambassador-before.png");
  }

  &--after {
    background-image: url("../img/index/mobile/ambassador-after.png");

    @media (max-width: $tablet-width - 1px) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      left: 50%;
      background-position: 100%;
    }
  }
}

.range__scale {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;

  @media (min-width: $mobile-width) {
    padding: 0 53px 0 58px;
    column-gap: 12px;
  }

  @media (min-width: $tablet-width) {
    column-gap: 19px;
    padding: 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 111px 0 87px;
  }
}

.range__input-label {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.range__input {
  @include reset-margin-padding;

  width: 100%;
  appearance: none;
  height: 6px;

  &::-webkit-slider-thumb {
    appearance: none;
    background-image: url("../img/icons/slider-toggle.svg");
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
  }
}

.range__bar {
  position: relative;
  height: 14px;
  width: 100%;
  background-color: $range-background;
  border: 1px solid $range-border;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.range__progress {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 43%;
  height: 6px;
  background-color: $range-progress;
  border-radius: 6px;

  &--after {
    right: 5px;
    left: initial;
  }
}

.range__button {
  @include reset-margin-padding;

  background-color: inherit;
  border: none;
  font-family: $font-main;
  font-weight: $font-regular;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    padding: 6px;
    font-size: $font-size-m;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: 1px dashed $black;
    font-size: $font-size-xl;
    line-height: 30px;
  }
}
