@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/oswaldregular.woff2"),
    url("../fonts/oswaldregular.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff2"),
    url("../fonts/oswaldmedium.woff");
  font-style: normal;
  font-weight: 500;
}
