@font-face {
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
  font-family: "Oswald";
  font-weight: $font-bold;
  font-style: normal;
}

@font-face {
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff");
  font-family: "Oswald";
  font-weight: $font-regular;
  font-style: normal;
}
