@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin block-padding {
  padding: 0 20px;
  padding-top: 27px;
}

@mixin reset-list {
  list-style: none;
}

@mixin default-link {
  color: $link-color;
  font-family: $font-main;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin key-value-font {
  font-weight: $font-regular;
  font-size: $font-size-xs;
  line-height: 16px;
}

@mixin form-text {
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
