@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin block-padding {
  @media (min-width: $mobile-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@mixin reset-list {
  list-style: none;
}

@mixin default-link {
  color: $link-color;
  font-family: $font-main;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin key-value-font {
  font-weight: $font-regular;
  font-size: $font-size-xs;
  line-height: 16px;
}

@mixin form-text {
  font-family: $font-main;
  font-weight: $font-regular;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

// TODO: For testing. Remove later
@mixin highlight-block($color) {
  outline: 2px solid $color;
  outline-offset: -2px;
}
