@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin block-padding {
  padding: 0 20px;
  padding-top: 27px;
}

@mixin reset-list {
  list-style: none;
}

@mixin default-link {
  color: $link-color;
  text-decoration: none;
  text-transform: uppercase;
}
