//Fonts Begin
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;

$font-bold: 500;
$font-regular: 400;
$font-main: "Oswald", "Arial", sans-serif;
$font-additional: "Arial", sans-serif;
//Fonts End

//Devices Begin
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
//Devices End

//Colors Begin
//color names from https://chir.ag/
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$green-apple: rgba(104, 183, 56, 1);
$green-apple-085: rgba(104, 183, 56, 0.85);
$grey-gallery: #eaeaea;
$grey-concrete: rgba(242, 242, 242, 1);
$grey-cod: rgba(17, 17, 17, 1);
$grey-tundora: rgba(68, 68, 68, 1);
$grey-mine-shaft: rgba(34, 34, 34, 1);
$grey-mercury: #e6e6e6;
$grey-alto: #d9d9d9;
$grey-silver: #cdcdcd;

$section-divider: $green-apple;
$header-toggle-color: $black;
$ambassador-background: $grey-gallery;
$button-background: $green-apple;
$button-color: $white;
$toggle-color: $black;
$nav-border: $grey-mercury;
$footer-background: $grey-concrete;
$hero-background-gr1-mobile: $green-apple-085;
$hero-background-gr2-mobile: $white;
$hero-color: $white;
$hero-color-tablet: $black;
$link-color: $black;
$input-color: $grey-tundora;
$radio-color: $grey-mine-shaft;
$body-color: $black;
$program-background: $grey-concrete;
$body-color: $black;
$programs-item: $grey-concrete;
$programs-logo: $green-apple;
$programs-description-line: $grey-alto;
$features-logo: $green-apple;
$features-logo-px-mobile: 60px;
$features-logo-px-tablet: 80px;
$features-number-color: $grey-concrete;
$ambassador-width-mobile: 311px;
$ambassador-width-tablet: 708px;
$ambassador-result-border: $grey-silver;
$ambassador-measure-background: $grey-gallery;
$range-border: $grey-silver;
$range-background: $white;
$range-progress: $green-apple;
$range-scale: $grey-alto;
$range-toggle: $white;
$footer-hr: $grey-alto;
$fieldset-background: $white;
$fieldset-padding-tablet: 30px;
$form-interactive-border: $grey-silver;
$form-radio-toggle: $green-apple;
$catalog-item-border: $grey-gallery;
$catalog-more-button: $grey-concrete;
$catalog-more-button-text: $grey-tundora;
$catalog-more-title: $grey-cod;
$catalog-more-description: $grey-tundora;
$catalog-more-plus: $grey-alto;
$additional-background: $white;
$additional-item-border: $grey-silver;
$additional-item-title: $grey-mine-shaft;
$additional__promo-text: $white;
$contact-background: $white;
//Colors End
